      <Line>
        <Point1 rotation="0" perspective="1" pointX="{0}" pointY="{1}" xTilt="0" movementX="0" tangentialPressure="0" pressure="{2}" yTilt="0" movementY="0" time="{3}"/>
        <Point2 rotation="0" perspective="1" pointX="{4}" pointY="{5}" xTilt="0" movementX="0" tangentialPressure="0" pressure="{6}" yTilt="0" movementY="0" time="{7}"/>
      </Line>
